:root{
  --color-white: 255,255,255;
  --color-black: 0,0,0;
  --color-red: 255,59,48;
  --color-red-variant: 215,0,21;
  --color-orange: 255,149,0;
  --color-orange-variant: 201,52,0;
  --color-yellow: 255,204,0;
  --color-yellow-variant: 178,80,0;
  --color-green: 52,199,89;
  --color-green-variant: 36,138,61;
  --color-mint: 0,199,190;
  --color-mint-variant: 12,129,123;
  --color-teal: 48,176,199;
  --color-teal-variant: 0,130,153;
  --color-cyan: 50,173,230;
  --color-cyan-variant: 0,113,164;
  --color-blue: 0,122,255;
  --color-blue-variant: 0,64,221;
  --color-indigo: 88,86,214;
  --color-indigo-variant: 54,52,163;
  --color-purple: 175,82,222;
  --color-purple-variant: 137,68,171;
  --color-pink: 255,45,85;
  --color-pink-variant: 211,15,69;
  --color-brown: 162,132,94;
  --color-brown-variant: 127,101,69;
  --color-gray-1: 142,142,147;
  --color-gray-1-variant: 108,108,112;
  --color-gray-2: 174,174,178;
  --color-gray-2-variant: 142,142,147;
  --color-gray-3: 199,199,204;
  --color-gray-3-variant: 174,174,178;
  --color-gray-4: 209,209,214;
  --color-gray-4-variant: 188,188,192;
  --color-gray-5: 229,229,234;
  --color-gray-5-variant: 216,216,220;
  --color-gray-6: 242,242,247;
  --color-gray-6-variant: 235,235,240;
}

body.dark{
  --color-white: 0,0,0;
  --color-black: 255,255,255;
  --color-red: 255,69,58;
  --color-red-variant: 255,105,97;
  --color-orange: 255,159,10;
  --color-orange-variant: 255,179,64;
  --color-yellow: 255,214,10;
  --color-yellow-variant: 255,212,38;
  --color-green: 48,209,88;
  --color-green-variant: 48,219,91;
  --color-mint: 102,212,207;
  --color-mint-variant: 102,212,207;
  --color-teal: 64,200,224;
  --color-teal-variant: 93,230,255;
  --color-cyan: 100,210,255;
  --color-cyan-variant: 112,215,255;
  --color-blue: 10,132,255;
  --color-blue-variant: 64,156,255;
  --color-indigo: 94,92,230;
  --color-indigo-variant: 125,122,255;
  --color-purple: 191,90,242;
  --color-purple-variant: 218,143,255;
  --color-pink: 255,55,95;
  --color-pink-variant: 255,100,130;
  --color-brown: 172,142,104;
  --color-brown-variant: 181,148,105;
  --color-gray-1: 142,142,147;
  --color-gray-1-variant: 174,174,178;
  --color-gray-2: 99,99,102;
  --color-gray-2-variant: 124,124,128;
  --color-gray-3: 72,72,74;
  --color-gray-3-variant: 84,84,86;
  --color-gray-4: 58,58,60;
  --color-gray-4-variant: 68,68,70;
  --color-gray-5: 44,44,46;
  --color-gray-5-variant: 54,54,56;
  --color-gray-6: 28,28,30;
  --color-gray-6-variant: 36,36,38;
}